.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  border: 2px solid #e4bb7e;
  width: 50%;
}

.counter-box div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.counter-box div:last-child {
  margin-bottom: 35px;
}

.counter-box button,
.counter-box span {
  padding: 10px 80px;
  font-size: 1.5rem;
  color: #333;
  border: 2px solid #e59191;
  cursor: pointer;
  background-color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
